/*.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.text{
  .box-shadow();
}*/
/* line 24, a.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/nodejs\/mvc\/style\/less\/a\.less}line{font-family:\0000324}}
.button {
  width: 76px;
  height: 23px;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
  border-radius: 8px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#578bc0), to(#22447b));
  background: -webkit-linear-gradient(top, #578bc0, #22447b);
  background: -moz-linear-gradient(top, #578bc0, #22447b);
  background: -ms-linear-gradient(top, #578bc0, #22447b);
  background: -o-linear-gradient(top, #578bc0, #22447b);
  /*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#578BC0', endColorstr='#22447B')  font-size:14px;*/
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}
/* line 33, a.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/nodejs\/mvc\/style\/less\/a\.less}line{font-family:\0000333}}
.demo_box {
  border: 1px solid #3DA5DC;
  background: #a4dcf9;
  height: 100px;
  width: 200px;
  text-align: center;
  color: #fff;
}
/*
.translate_1 {
  -webkit-transition: 1s ease all;
  -moz-transition: 1s ease all;
  position: absolute;
  left: 250px;
  top: 10px;
  background: #4d6ea6;
}

.translate_1:hover {
  -webkit-transform: translate(100px);
  -moz-transform: translate(100px);
}

.translate_2 {
  -webkit-transition: 1s ease all;
  -moz-transition: 1s ease all;
  position: absolute;
  left: 250px;
  top: 150px;
  background: #b9f9cb;
  color: #000;
}

.translate_2:hover {
  -webkit-transform: translate(-100px);
  -moz-transform: translate(-100px);
}*/
/* line 71, a.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/nodejs\/mvc\/style\/less\/a\.less}line{font-family:\0000371}}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}
/* line 79, a.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/nodejs\/mvc\/style\/less\/a\.less}line{font-family:\0000379}}
.pages {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* line 84, a.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/nodejs\/mvc\/style\/less\/a\.less}line{font-family:\0000384}}
.pages .page_in {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 92, a.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/nodejs\/mvc\/style\/less\/a\.less}line{font-family:\0000392}}
.pages .right {
  background: gray;
  opacity: 0.6;
}
/* line 96, a.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/nodejs\/mvc\/style\/less\/a\.less}line{font-family:\0000396}}
.pages .left {
  display: block;
  overflow: hidden;
  -webkit-transform: translateX(0px);
}
/* line 100, a.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/nodejs\/mvc\/style\/less\/a\.less}line{font-family:\00003100}}
.pages .left li {
  border-radius: 8px;
  margin: 10px 0px;
  border: 1px solid red;
  width: 95%;
}
/* line 105, a.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/nodejs\/mvc\/style\/less\/a\.less}line{font-family:\00003105}}
.pages .left li a {
  display: block;
}
